@import url('./root.css');
/*importation font familly*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
/*Animation keyframe*/

/*root*/
:root {
    --logo-fontFam:'ezeetest-exo-2-bold' sans-serif;
    --main-FontFam: 'Roboto', sans-serif;
    --Montserrat-FontFam: 'Montserrat', sans-serif;
    --Inter-FontFam: 'Inter', sans-serif;
    --size-nav-Title: 20px;
    --input-text-Fontsize: 1em;
    --size-Title: 3em;
    --size-text: 1.5em;
    --size-link: 1.2em;
    --size-logo: 2em;
    --size-text-logo:1em;
    --size-btn: 1.2em;
    --size-nomUser:2em;
    --size-imgProfile:3rem;
    --welcom-size: 3.5em;
    --main-color: #0f3054;
    --second-color: #89939E;
    --third-color: #000000;
    --background-color: #FFFFFF;
    --text-color: #222;
    --form-color: #f0f8ff;
    --color-white: #ffffff;
    --svg-group-width: 700px;
    --svg-group-height: 450px;
}

* {
    margin: 0;
}

a {
    cursor: pointer;
    color: var(--color-white);
    text-decoration: none !important;
}

li {
    list-style: none !important;
}

body {
    font-family: var(--main-FontFam);
}
p{
    font-size: 2em;
}
/*class a utilliser*/
.text_center{
    text-align: center;
}
.text_main {
    
    color: var(--main-color);
}
.mobile-afichage{
    display: none;
}
.size100{
    height: 100px;
}
.flex{
    display: flex;
} 
.column{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.gap-x-3{
    gap: 1em;
}
.text-small{
    letter-spacing: 2px;
    font-size: 1em;
}
.text{
    font-size: var(--size-text);
}
.title {
    font-weight: bold;
    font-size: var(--size-Title);
}
.font-medium{
    font-weight: lighter;
}
.text_left{
    text-align: left;
}
.w_600{
    width: 600px;
    min-width: 100px;
}
.font_montserrat {
    font-family: var(--Montserrat-FontFam) !important;
    /* montserrat */
}
.padding_50{
    padding: 50px;
}
.text {
    letter-spacing: 2px;
    word-spacing: 1px;
    font-family: var(--Inter-FontFam) !important;
    /*Inter*/
    font-size: var(--size-text);
    font-weight: bold;
}
.text-shadow{
    color:rgba(240, 248, 255, 0.51);
}
.bg-main {
    background-color: var(--main-color);
}
.bg-white{
    background-color: var(--color-white);
}
.nomUser{
    font-size: var(--size-nomUser);
}
.width_100 {
    width: 100px;
}

.input_radius-12 {
    cursor: pointer;
    border-radius: 12px;
    font-size: var(--input-text-Fontsize);
}

.input {
    font-size: var(--input-text-Fontsize);
    padding: 9px 10px;
    margin-bottom: 10px;
    border-top: transparent;
    border: solid black .5px;
    height: calc(1em + .75rem + 2px);
    border-bottom: solid thin rgba(54, 69, 73, .5);
    border: solid thin rgb(24, 15, 15);
    width: 300px;
}

.input_search {
    cursor: pointer;
    width: 500px;
    text-align: center;
}

.btn {
    cursor: pointer;
    text-align: center;
    font-size: var(--size-btn);
    height: auto;
    padding: 10px 20px;
}

.color_main {
    color: var(--color-white);
    background-color: var(--main-color);
}
/*image de profil*/
.img_rond {
    border: solid var(--main-color);
    border-radius: 100%;
}
.img-profil {
    border: solid 1px var(--main-color);
    cursor: pointer;
    height: var(--size-imgProfile);
    width: var(--size-imgProfile);
    box-shadow: 0px 0px 5px #33333382;
}
/* navbar et lien */
.navbar {
    background-color: #ffffffc5;
    backdrop-filter: blur(7px);
    color: var(--third-color);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 3px #000000ac;
}
.navbar h1{
    display: flex;
    justify-content: center;
    align-items: center;
}


.link_container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1.5rem;
    padding: 0%;
}

.link {
    display: block;
    overflow: hidden;
    cursor: pointer;
    padding: 0 10px;
}

.link a {
    padding: 5px 9px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    font-size: var(--size-link);
    color: var(--text-color);
    transition: all 0.2s ease-out;
    letter-spacing: 0.5px;
}

.text-logo{
    font-size: var(--logo-fontFam);
    padding-left: 10px;
    font-size: var(--size-text-logo);
}
.logo {
    height: var(--size-logo);
    width: auto;
}

/*menu burgueur*/

.menu-burgeur {
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
    width: 42px;
    position: relative;
    cursor: pointer;
    border-radius: 20px;

}

.menu-burgeur span:nth-child(2) {
    position: absolute;
    right: 0;
    width: 60%;
    height: 4px;
    background-color: var(--main-color);

    transition: background-color 0.5s ease-in-out;
}

.menu-burgeur span:nth-child(1),
.menu-burgeur span:nth-child(3) {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    transition: transform 0.5s ease-in-out;
}

.menu-burgeur span:nth-child(1) {
    transform: translateY(10px);
}

.menu-burgeur span:nth-child(3) {
    transform: translateY(-10px);
}

.menu-burgeur.menu_active span:nth-child(2) {
    background-color: transparent;
}

.menu-burgeur.menu_active span:nth-child(1) {
    transform: translateY(0px) rotateZ(-45deg);
}

.menu-burgeur.menu_active span:nth-child(3) {
    transform: translateY(0px) rotateZ(45deg);
}

/*Container*/
.container{
    padding: 0px 50px 10px 50px;
}

.illustration{
    height: var(--svg-group-height);
    width: var(--svg-group-width);
}

.header{
    
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header_container{
    padding: 0%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}


/*footer*/
#footer {
    padding-top: 5%;
    padding-bottom: 1%;
    font-weight: 200;
    text-align: center;
    background-color: #0f3054;
    width: 100%;
    height: 70vh;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
}
#contact-dev{
    height:70%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: space-around;
    margin: auto;
}
.LKAV-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
}

.contact-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-weight: 1.5elm;
    font-weight: bold;
    
}
.name{
    line-height: 2em;
    font-size: 1.5em;
}
.logo_footer {
    font-size: 2em;
}
/* Vos styles existants */

@media screen and (max-width: 960px) {
    /* Ajoutez des styles spécifiques pour les écrans de largeur maximale de 960px */
    :root {
        --logo-fontFam:'ezeetest-exo-2-bold' sans-serif;
        --main-FontFam: 'Roboto', sans-serif;
        --Montserrat-FontFam: 'Montserrat', sans-serif;
        --Inter-FontFam: 'Inter', sans-serif;
        --size-nav-Title: 20px;
        --input-text-Fontsize: 1em;
        --size-Title: 3em;
        --size-text: 1.5em;
        --size-link: 1.2em;
        --size-logo: 2em;
        --size-text-logo:1em;
        --size-btn: 1.2em;
        --size-nomUser:2em;
        --size-imgProfile:3rem;
        --welcom-size: 3.5em;
        --main-color: #0f3054;
        --second-color: #89939E;
        --third-color: #000000;
        --background-color: #FFFFFF;
        --text-color: #222;
        --form-color: #f0f8ff;
        --color-white: #ffffff;
        --svg-group-width: 100%;
        --svg-group-height: auto;
    }

    .navbar h1 span{
        display: none;
    }
    .mobile-afichage{
        display: block;
    }

    .link_container{
        color: var(--color-white);
        opacity: 0;
        background-color: var(--color-white);
        left: -1000;
        top: 0px;
        width: 100%;
        height: 100vh;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        padding:20px 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 5em;
        margin:auto ;
        position: absolute;
        transform: translateX(-1000px);
        transition: all 0.9s ease-in-out;
    }
    .link_container a{
        color: var(--third-color);
        text-decoration: solid;
        text-transform: uppercase;
    }
    .overflowHidden{
        overflow: hidden;
    }
    .link_container.burgeuractive{
        opacity: 1;
        left: 0;
        transform:inherit;
        display: flex;
        overflow: hidden !important;
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .header_container {
        gap: 5em;
    }
    .container{
        padding: 0% !important;
        margin: 0px !important;
        display: flex;
        flex-direction: column;
    }
    #footer{
        flex-wrap: wrap;
    }
    .logo_footer{
        display: none;
    }
    .affichage-about{
        padding: auto !important;
        height: auto;
    }
    .profile-header{
        display: none;
    }
    /* Ajoutez d'autres styles responsives au besoin */
}

/* Ajoutez d'autres media queries au besoin */
