/*importation font familly*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

/*Animation keyframe*/

/* slider horizontal  */
@keyframes animation_slider_horizontal {

    0%,
    20% {
        transform: translateX(0);
    }

    25%,
    40% {
        transform: translateX(-100%);
    }

    50%,
    70% {
        transform: translateX(-200%);
    }

    75%,
    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}
/*root*/
:root {
    --main-FontFam:'Roboto', sans-serif;
    --Montserrat-FontFam: 'Montserrat', sans-serif;
    --Inter-FontFam:'Inter', sans-serif;
    --size-nav-Title: 35px;
    --input-text-Fontsize: 1em;
    --size-Title: 2.5em;
    --size-text:1.1em;
    --size-link:1.1em;
    --size-logo:2em;
    --size-btn:1.2em;
    --welcom-size:9em;
    --img-profile: 60px;
    --main-color: #0f3054;
    --second-color: #89939E;
    --third-color: #000000;
    --background-color: #FFFFFF;
    --text-color: #222;
    --form-color: #f0f8ff;
    --color-white: #ffffff;
}
*{
    margin: 0;
}
a{
    cursor: pointer;
    color: var(--color-white);
    text-decoration: none !important;
}
li{
    list-style:none!important;
}
body{

    font-family: var(--main-FontFam);
    margin: 0%;
    padding: 0%;
}
/*class a utilliser*/
.text_main{
    color: var(--main-color);
}
.title{
    font-weight: bold;
    font-size: var(--size-Title);
}
.font_montserrat{
    font-family:var(--Montserrat-FontFam)!important ; /* montserrat */
}
.text{
    letter-spacing: 2px;
    word-spacing: 1px;
    font-family:var(--Inter-FontFam) !important;   /*Inter*/
    font-size: var(--size-text);
    font-weight:bold;
}
.bg-main{
    background-color:var(--main-color);
}
.width_100{
    width: 100px;
}
.input_radius-12{
    cursor: pointer;
    border-radius: 12px;
    font-size: var(--input-text-Fontsize);
}
.input{
    font-size: var(--input-text-Fontsize);
    padding:9px 10px;
    margin-bottom: 10px;
    border-top: transparent;
    border: solid black .5px;;
    height: calc(1em + .75rem + 2px);
    border-bottom: solid thin rgba(54,69,73,.5);
    border: solid thin rgb(24, 15, 15);
    width: 300px;
}
.input_search{
    cursor: pointer;
    width: 500px;
    text-align: center;
}

.btn{
    cursor: pointer;
    text-align: center;
    font-size:var(--size-btn);
    height:auto;
    padding:10px 20px;
}
.color_main{
    color: var(--color-white);
    background-color: var(--main-color);
}
.img_rond{
    border: solid 1px white;
    border-radius: 100%;
}
/* navbar et lien */
.navbar{
    color: var(--color-white);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-profil{
    cursor: pointer;
    height: 40px;
    width: 40px;
}
.link_container{
    display:flex;
    align-items: center;
    flex-direction:row-reverse;
    gap: 4rem;
    padding: 0%;
}
.link{
    cursor: pointer;
    padding: 0 10px;
}
.link a{
    font-size:var(--size-link);
    color: var(--color-white);
}
.logo{
    height:var(--size-logo);
    width:auto;
}

/*header*/

#header{
    height: 80vh;
    color: var(--color-white) !important;
    background-color: var(--main-color); 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#header_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.header_left{
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    gap: 1em;
}
.header_left button:hover{
    border: solid var(--color-white);
    color: var(--color-white);
    background-color:transparent;
}
.header_left span{
    padding-left: 20px;
    font-size:1.2em;
}
#welcome{
    width: var(--welcom-size);
} 
.header_right{
    display: flex;
    align-items: center;
}
.svg_group{
    width:600px; 
    height:350px;
}

/*body corps meme de la page */

/*div seach*/
#container_search{
    margin-top: 60px;
    padding: 20px;
    display: flex;
    height:auto;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}
.bar_search{
    padding-top: 50px;
    display: flex;
    gap: 35px;
}
.bar_search input[type="text"] {
    background-color: transparent;
    border:solid 0.5px;
    outline:none;
    padding: .8em;
    }
.bar_search input[type="text"]:hover .bar_search{
    gap: 200px;
}

.bar_search input[type="text"]:hover {
    border : solid var(--main-color);
    border :solid #0f3054 !important;
}
.bar_search input[type="text"]:focus{
    scale: 1.1;
    border :solid #4987d7 !important;
    font-size: calc(var(--input-text-Fontsize)*1);
}



/*section slider*/
#slider_container {
    display: none;
    width: 100%;
    height: 30vh;
    overflow: hidden;
}
.slider {
    display: flex;
    animation: animation_slider_horizontal 60s ease-in-out infinite;
}
.slider img {
    object-fit: cover;
    height:100%;
    width: 100%;
    flex-shrink: 0;
}

/*div form filtrage*/
#container_filtrage-donner{
    margin-top: 50px;
    height: auto;
    padding: 20px 0px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container_filtrage-donner h1{
    padding-top: 50px;
}
.conteneur-horizontal {
    width: 100%;
    height: 500px;
    /* La hauteur souhaitée de votre section horizontale */
    overflow-x: scroll;
    /* Permet le défilement horizontal */
    white-space: nowrap;
    /* Empêche le saut de ligne dans le contenu */
}
.contenu-horizontal {
    width: auto;
    /* Largeur du contenu (plus grande que le conteneur) */
    white-space: nowrap;
    /* Empêche le saut de ligne dans le contenu */
    display: flex;
    align-items: center;
    justify-content: center;
}


.categorie{
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    height: 40px;
}
.boutton_filtrage{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*affichage tableau*/

.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: 2px;
    color: var(--color-white);
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
td a,
td p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;

}
.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6;
}

.text-uppercase{
    text-align: center;
    text-transform: uppercase !important;
    font-size: 20px;
}

.bg-sky.box-shadow {

    box-shadow: 0px 5px 0px 0px #00a2a7
}

.bg-orange.box-shadow {
    box-shadow: 0px 5px 0px 0px #af4305
}

.bg-green.box-shadow {
    box-shadow: 0px 5px 0px 0px #4ca520
}

.bg-yellow.box-shadow {
    box-shadow: 0px 5px 0px 0px #dcbf02
}

.bg-pink.box-shadow {
    box-shadow: 0px 5px 0px 0px #e82d8b
}

.bg-purple.box-shadow {
    box-shadow: 0px 5px 0px 0px #8343e8
}

.bg-lightred.box-shadow {
    box-shadow: 0px 5px 0px 0px #d84213
}


.bg-sky {
    color: var(--color-white) !important;
    background-color: #02c2c7
}

.bg-orange {
    color: var(--color-white) !important;
    background-color: #e95601
}

.bg-green {
    color: var(--color-white) !important;
    background-color: #5bbd2a
}

.bg-yellow {
    color: var(--color-white) !important;
    background-color: #f0d001
}

.bg-pink {
    color: var(--color-white) !important;
    background-color: #ff48a4
}

.bg-purple {
    color: var(--color-white) !important;
    background-color: #9d60ff
}

.bg-lightred {
    color: var(--color-white) !important;
    background-color: #ff5722
}

.padding-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}

.margin-10px-bottom {
    margin-bottom: 10px;
}

.border-radius-5 {
    border-radius: 5px;
}

.margin-10px-top {
    margin-top: 10px;
}

.font-size14 {
    font-size: 14px;
}

.text-light-gray {
    color: #d6d5d5;
}

.font-size20 {
    font-size: 20px;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}


/*contenu par rappor a la section ia */

#container-ia{
    font-weight: 200 !important;
    text-align: center;
    margin: 30vh 20px 0px 20px;
}
#container-ia h2{
    text-align: center;
}
#container-ia h1{
    margin-top: 20px;
}

/*card liens vers ia*/
.card {
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 320px;
    background: mediumturquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .card::before,
  .card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: lightblue;
    transition: all 0.5s;
  }
  
  .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
  .card:hover::before,
  .card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
  .card:hover:after {
    content: "click et pose ta question";
  }

  /*contact div*/
  #container_contact{
    padding-bottom:100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50vh;
  }
  #message{
    display: flex;
    align-self: center;
    font-size: var(--input-text-Fontsize);
    padding: 20px 30px;
    width :38vw ;
    height: 200px;
  }


  /*footer*/
#footer{
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: auto;
    background-color: var(--main-color);
}
#footer p{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    align-self: center;
}
.logo_footer{
    font-size: 2em;
}