@import url('./root.css');

/*importation font familly*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

/*root*/
:root {
    --logo-fontFam:'ezeetest-exo-2-bold' sans-serif;
    --main-FontFam: 'Roboto', sans-serif;
    --Montserrat-FontFam: 'Montserrat', sans-serif;
    --Inter-FontFam: 'Inter', sans-serif;
    --size-nav-Title: 35px;
    --input-text-Fontsize: 1em;
    --size-Title: 2.5em;
    --size-text: 1.1em;
    --size-link: 1.3em;
    --size-logo: 2em;
    --size-btn: 1.2em;
    --size-nomUser: 0.8em;
    --welcom-size: 4em;
    --img-profile: 60px;
    --main-color: #0f3054;
    --second-color: #89939E;
    --third-color: #000000;
    --background-color: #FFFFFF;
    --text-color: #222;
    --form-color: #f0f8ff;
    --color-white: #ffffff;
    --svg-group-width: 660px;
    --svg-group-height: 479px;
}


* {
    margin: 0;
}

a {
    cursor: pointer;
    color: var(--color-white);
    text-decoration: none !important;
}

li {
    list-style: none !important;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    flex-direction: column;
    font-family: var(--main-FontFam);
}

/*class a utilliser*/
.text_main {
    color: var(--main-color);
}

.title {
    font-weight: bold;
    font-size: var(--size-Title);
}

.font_montserrat {
    font-family: var(--Montserrat-FontFam) !important;
    /* montserrat */
}

/* navbar et lien */

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#contextContainer {
  display: flex;
  justify-content: space-between;
}

#contextInput {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#messages {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 40vh;
  overflow-y: scroll;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

p {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
