/*importation font familly*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

@font-face {
    font-family: "ezeetest";
    src: url('ASSETS/chart-graphique/ezeetest-exo-2-bold.ttf') format('truetype');
}

/*root*/
:root {
    --logo-fontFam: 'ezeetest' sans-serif;
    --main-FontFam: 'Roboto', sans-serif;
    --Montserrat-FontFam: 'Montserrat', sans-serif;
    --Inter-FontFam: 'Inter', sans-serif;
    --size-nav-Title: 35px;
    --input-text-Fontsize: 1em;
    --size-Title: 2em;
    --size-text: 1.1em;
    --size-link: 1.3em;
    --size-logo: 6.5em;
    --size-logo-name: 1.5em;
    --size-btn: 1.2em;
    --size-nomUser: 1.5em;
    --welcom-size: 9em;
    --img-profile: 40px;
    --main-color: #0f3054;
    --second-color: #89939E;
    --third-color: #000000;
    --background-color: #FFFFFF;
    --text-color: #222;
    --form-color: #f0f8ff;
    --color-white: #ffffff;
    --champ_saisie_width: 20vw;
    --champ_saisie_height:45px;
    --svg-group-width: 660px;
    --svg-group-height: 479px;
}
@keyframes animation_title {
    0% {
        transform-origin: inherit;
    }

    100% {
        transform: initial;
        opacity: 1;
    }
}

* {
    padding: 0%;
    margin: 0%;
}

a{
    padding: 10px;
}

html, body {
    font-family: var(--main-FontFam);
    width: 100vw;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    list-style: none;
    text-decoration: none;
    background-color: transparent;

}
/*class de text*/
.title{
    font-size: var(--size-Title);
    font-weight: bold;
    font-family: var(--Montserrat-FontFam);
}
.text-white{
    color: var(--color-white)
}
.text{
    font-size: var(--size-text);
}
.text-black{
    color: var(--third-color);
}
.bg-white{
    background-color: var(--color-white);
}
.bg-main{
    background-color: var(--main-color);
}
.font_montserrat{
    font-family: var(--Montserrat-FontFam);
}
.font_robotto{
    font-family: var(--main-FontFam);
}

.navbar {
    position: fixed;
    background-color:transparent;
    backdrop-filter: blur(7px);
    color: var(--third-color);
    background: blur(7);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--nav-height);
    padding-left: 200px;
    height: 60px;
    width: 100vw;
}

.navbar h1 {
    cursor: pointer;
    font-family: var(--font-Title);
    font-size: var(--size-navbar-Title);
    text-transform: uppercase;
    letter-spacing: 5px;
    overflow: hidden;
    display: block;
}

.navbar h1:hover {
    opacity: 0.8;
}

.navbar h1 img {
    height: var(--size-nav-Title);
}


.navbar h1 span {
    position: relative;
    color: var(--third-color);
    font-weight: 900;
    display: block;
    overflow: hidden;
    transform: translateX(-600px);
    animation: 0.9s animation_title forwards cubic-bezier(1, -0.16, .33, 1.15);
}

.btn_about {
    border-radius: 15px;
    background-color: var(--main-color);
    color: var(--color-white);
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: calc((--size-nav-link)*1);
    transition: all 0.4s;
}

.btn_about:hover {
    scale: 1.1;
    border: solid var(--main-color);
    background-color: transparent;
    color: var(--main-color);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-white)
}
.about_link{
    position: absolute;
    bottom: 35px;
    left:35vw;
}
.container-left{
    background-color: var(--color-white);
    padding: 0% 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 100%;
}

.container-rigth {
    padding-top: 50px;
    box-shadow: 1px 1px 20px #222;
    background-color: var(--main-color);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    margin: 0%;
    height: 100%;
    width: 60%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container h1 {
    overflow: hidden;
    font-family: var(--font-Title);
    font-size: var(--size-Title);
    overflow: hidden;
}

.form-container h1 span {
    display: block;
    letter-spacing: 2px;
    transform: translateY(-100px);
    animation: 0.9s animation_title forwards cubic-bezier(1, -0.16, .38, 1.1);
    animation-delay: 0.2s;

}

.form-container p {
    border-radius: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

.form-container .champ_saisie {
    font-family: var(--Inter-FontFam);
    font-size: var(--input-text-Fontsize);
    cursor: pointer;
    margin-bottom: 20px;
    height: var(--champ_saisie_height);
    width:var(--champ_saisie_width);
    border-radius: 20px;
    padding-left: 50px;
    transform: scale(0);
    animation: 0.4s animation_title forwards cubic-bezier(1, -0.16, .38, 1.1);
    border: none;
}

.form-container .champ_saisie:hover {
    box-shadow: 0px 0px 10px var(--main-color);
}

.form-container .champ_saisie:focus {
    font-size: 19px;
    border: none;
    scale: 1.2;
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px var(--main-color);
    transition: all 0.5s;
}

.form-container .boutton_soumettre {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    border-radius: 15px;
    height: auto;
    width: auto;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    font-size: var(--size-btn);
    animation-delay: 0.9s;
    transition: all 0.1s;
    border: none;
}

.form-container .boutton_soumettre:hover {
    background-color: transparent;
    color: var(--background-color);
    border: solid;
    transition: all 0.5s;
    transform: translateY(-3px) !important;
    box-shadow: 0px 10px 10px #00000076 !important;
}



/* responsive */

