:root {
    --font-body: 'Poppins Medium', sans-serif;
    --size-nav-Title: 50px;
    --size-nav-link: 19px;
    --size-Title: 60px;
    --nav-height: 70px;
    --nav-color: #ffffff;
    --main-color: #0f3054;
    --second-color: #89939E;
    --third-color: #000000;
    --background-color: #FFFFFF;
    --text-color: #222;
    --form-color: #f0f8ff;
    --whrite-color: #ffffff;
    --size-text: 30px;
    --text-width: 800px;
    --champ_saisie_height: 45px;
}

@keyframes animation_title {
    0% {
        transform-origin: inherit;
    }

    100% {
        transform: initial;
        opacity: 1;
    }
}

/* slider horizontal  */

@keyframes animation_slider_horizontal {

    0%,
    20% {
        transform: translateX(0);
    }

    25%,
    40% {
        transform: translateX(-100%);
    }

    50%,
    70% {
        transform: translateX(-200%);
    }

    75%,
    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}

* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: var(--font-body);
    object-fit: cover;
    list-style: none;
    overflow: hidden;
    text-decoration: none;
    color: var(--whrite-color);
    display: flex;
    justify-content: center;
}

.navbar {
    position: fixed;
    background-color: var(--nav-color);
    background: blur(7);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: var(--nav-height);
    width: 100vw;
    box-shadow: 0px 0px 20px var(--text-color);
}

.navbar h1 {
    cursor: pointer;
    font-family: var(--font-Title);
    font-size: var(--size-navbar-Title);
    text-transform: uppercase;
    letter-spacing: 5px;
    overflow: hidden;
    display: block;
}

.navbar h1:hover {
    opacity: 0.8;
}

.navbar h1 img {
    height: var(--size-nav-Title);
}

.navbar h1 span {
    position: relative;
    color: var(--text-color);
    font-weight: 900;
    display: block;
    overflow: hidden;
    transform: translateX(-600px);
    animation: 0.9s animation_title forwards cubic-bezier(1, -0.16, .33, 1.15);
}

.btn_about {
    border-radius: 16px;
    background-color: var(--main-color);
    color: var(--text-width);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: var(--size-nav-link);
    transition: all 0.4s;
}

.btn_about:hover {
    scale: 1.1;
    border: solid var(--main-color);
    background-color: transparent;
    color: var(--main-color);
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.background img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.slider_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    animation: animation_slider_horizontal 70s ease-in-out infinite;
}

.slider img {
    flex-shrink: 0;
}

.container-rigth {
    position: absolute;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
}

.container-rigth {
    width: 100%;
    align-self: center;
    justify-self: center;
    margin-top: 0%;
    margin-right: 10px;
    z-index: 100px !important;
    right: 0;
    display: flex;
    justify-content: space-around;

}

.container-rigth::before {
    font-family: var(--font-Title);
    text-align: center;
    border: solid 0.1px;
    border-radius: 20px;
    padding: 10px 20px;
    letter-spacing: 1.5px;
    white-space: 10px;
    height: auto;
    font-size: var(--size-text);
    max-width: var(--text-width);
    background-color: var(--main-color);
    background: blur(10);
    content: "Accédez à des milliers de cours, exercices et épreuves d'examens passés en un seul clic ! Améliorez vos compétences et réussissez vos examens avec Ezeetest !!.";
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container h1 {
    padding-bottom: 20px;
    overflow: hidden;
    font-family: var(--font-Title);
    font-size: var(--size-Title);
    overflow: hidden;
}

.form-container h1 span {
    display: block;
    letter-spacing: 2px;
    transform: translateY(-100px);
    animation: 0.9s animation_title forwards cubic-bezier(1, -0.16, .38, 1.1);
    animation-delay: 0.2s;

}

.form-container p {
    border-radius: 20px;
    letter-spacing: 1px;
    font-size: 19px;
    font-weight: bold;
}

.form-container p button {
    background-color: #f0f8ff7c;
    background: blur(7);
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1.2px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: rgb(0, 4, 252);
}

.form-container p button:hover {
    background-color: #FFFFFF;
}

.form-container .champ_saisie {
    cursor: pointer;
    margin-bottom: 12px;
    height: var(--champ_saisie_height);
    width: 300px;
    border-radius: 20px;
    font-size: var(--size-nav-link);
    padding-left: 50px;
    transform: scale(0);
    animation: 0.4s animation_title forwards cubic-bezier(1, -0.16, .38, 1.1);
    border-color: var(--main-color);
}

.form-container .champ_saisie:hover {
    box-shadow: 0px 0px 10px var(--main-color);
}

.form-container .champ_saisie:focus {
    font-size: 19px;
    border: var(--text-color) 10px;
    scale: 1.2;
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px var(--main-color);
    transition: all 0.5s;
    border: var(--main-color);
}

.form-container .boutton_soumettre {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0%;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    font-size: var(--size-nav-link);
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: var(--whrite-color);
    background-color: var(--main-color);
    animation-delay: 0.9s;
    transition: all 0.1s;
    border: none;
}

.form-container .boutton_soumettre:hover {
    background-color: transparent;
    color: var(--background-color);
    border: solid;
    transition: all 0.5s;
    transform: translateY(-3px) !important;
    box-shadow: 0px 10px 10px #00000076 !important;
}



/* responsive */
@media screen and (max-width:1500px) {

    :root {
        --font-body: 'Roboto', sans-serif;
        --size-nav-Title: 50px;
        --size-nav-link: 19px;
        --size-Title: 70px;
        --nav-height: 70px;
        --nav-color: #ffffff;
        --main-color: #0f3054;
        --second-color: #89939E;
        --third-color: #000000;
        --background-color: #FFFFFF;
        --text-color: #222;
        --form-color: #f0f8ff;
        --whrite-color: #ffffff;
        --size-text: 25px;
        --text-width: 500px;
        --champ_saisie_height: 45px;
    }

    body {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .navbar {
        height: 50px;
    }

    .champ_saisie {
        height: 30px;
    }

    .container {
        margin-top: 0px;
        align-items: flex-start;
    }
}

@media screen and (max-width:900px) {
    :root {
        --font-Title: 'Roboto', sans-serif;
        --font-link: 'Poppins Medium', sans-serif;
        --size-nav-Title: 40px;
        --size-nav-link: 19px;
        --size-Title: 70px;
        --main-color: #0f3054;
        --second-color: #89939E;
        --third-color: #000000;
        --background-color: #FFFFFF;
        --text-color: #222;
        --form-color: #f0f8ff;
        --whrite-color: #ffffff;
        --size-text: 20px;
        --text-width: 300px;

    }

    .background {
        width: 100vw;
        height: 100vh;
    }

    .background img {
        object-fit: cover;
        size: 1000px;
        width: 100vw;
        height: 100vh;
    }


    .navbar ul {
        display: none;
    }

    .container-left::after {
        display: none;
    }

    .container-rigth::before {
        display: none;
    }


}

@media screen and (max-width:500px) {
    :root {
        --font-Title: 'Roboto', sans-serif;
        --font-link: 'Poppins Medium', sans-serif;
        --size-nav-Title: 40px;
        --size-nav-link: 19px;
        --size-Title: 70px;
        --main-color: #0f3054;
        --second-color: #89939E;
        --third-color: #000000;
        --background-color: #FFFFFF;
        --text-color: #222;
        --form-color: #f0f8ff;
        --whrite-color: #ffffff;
        --size-text: 20px;
        --text-width: 300px;

    }


}


@media screen and (max-width:460px) {
    :root {
        --font-Title: 'Roboto', sans-serif;
        --font-link: 'Poppins Medium', sans-serif;
        --size-nav-Title: 30px;
        --size-nav-link: 19px;
        --size-Title: 70px;
        --main-color: #0f3054;
        --second-color: #89939E;
        --third-color: #000000;
        --background-color: #FFFFFF;
        --text-color: #222;
        --form-color: #f0f8ff;
        --whrite-color: #ffffff;
        --size-text: 20px;
        --text-width: 300px;

    }
}

@media screen and (max-width:360px) {
    :root {
        --font-Title: 'Roboto', sans-serif;
        --font-link: 'Poppins Medium', sans-serif;
        --size-nav-Title: 30px;
        --size-nav-link: 19px;
        --size-Title: 70px;
        --main-color: #0f3054;
        --second-color: #89939E;
        --third-color: #000000;
        --background-color: #FFFFFF;
        --text-color: #222;
        --form-color: #f0f8ff;
        --whrite-color: #ffffff;
        --size-text: 20px;
        --text-width: 300px;

    }
}

@media screen and (max-width:260px) {
    :root {
        --font-Title: 'Roboto', sans-serif;
        --font-link: 'Poppins Medium', sans-serif;
        --size-nav-Title: 20px;
        --size-nav-link: 19px;
        --size-Title: 70px;
        --main-color: #0f3054;
        --second-color: #89939E;
        --third-color: #000000;
        --background-color: #FFFFFF;
        --text-color: #222;
        --form-color: #f0f8ff;
        --whrite-color: #ffffff;
        --size-text: 20px;
        --text-width: 300px;

    }
}

@media screen and (max-width:160px) {
    :root {
        --font-Title: 'Roboto', sans-serif;
        --font-link: 'Poppins Medium', sans-serif;
        --size-nav-Title: 10px;
        --size-nav-link: 19px;
        --size-Title: 70px;
        --main-color: #0f3054;
        --second-color: #89939E;
        --third-color: #000000;
        --background-color: #FFFFFF;
        --text-color: #222;
        --form-color: #f0f8ff;
        --whrite-color: #ffffff;
        --size-text: 20px;
        --text-width: 300px;

    }
}